<div class="breadcrumbs-sec">
  <div class="container">
      <ul class="breadcrubs-list previous-page">
          <li>
              <a href="javascript:void(0)" title="Back to Home"  [routerLink]="['']">Back to Home</a>
          </li>
      </ul>
  </div>
</div>
<div class="login-sec">
  <div class="container">
      <div class="col-sm-12">
          <div class="border-sec form-sec counter-request text-center">
            <div class="content">
              <h2>Your submission was successful. We'll contact you within 24-48hrs</h2>
              <h2><strong>Thanks!</strong></h2>
              <h2><strong>Have a great day!​</strong></h2>
            </div>
          </div>
      </div>
  </div>
</div>