.modal-footer{
    border-top:none;
    p{
        display: block;
        width: 100%;
        .btn{
            margin-top: 0;
        }
    }
}
.modal-body{
    @media(max-width:576px){
        padding-bottom: 10px;
    }
    p{
        @media(max-width:576px){
            font-size: 15px;
        }
    }
}