<div class="login-sec">
    <div class="container">
        <div class="col-sm-12">
            <div class="border-sec form-sec">
                <h2>Password request sent</h2>
                <div class="password-content">
                    <p>Check your email address for instructions to
                        <br> ​reset the password.</p>
                </div>
                <span class="bottom-content">Back to the
                    <a href="javascript:void(0)" title="Login" [routerLink]="['/login']" routerLinkActive="active">Login</a> page.</span>
            </div>
        </div>
    </div>
</div>