<header>
    <div class="container">
        <div class="header-logo">
            <a href="#" title="demo"><img src="./assets/images/demo-logo.png" alt="logo"></a>
        </div>
    </div>
</header>
<div class="login-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="breadcrumbs-sec">
                    <div class="container">
                        <ul class="breadcrubs-list previous-page">
                            <li (click)="goOnLoginPage()">
                                <a href="javascript:void(0)" title="Back to login page">Back to login page</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="border-sec form-sec counter-request signup-form safari_only">
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <form class="example-form" [formGroup]="signupForm" novalidate>
                                <div class="form-group">
                                    <input formControlName="first_name"
                                        onfocus="this.ph=this.placeholder;this.placeholder=''"
                                        onblur="this.placeholder = this.ph" matInput type="text"
                                        placeholder="First Name" class="form-control"
                                        [ngClass]="{'error-border': signupForm.controls.first_name.touched && (signupForm.controls.first_name.errors?.required)}">
                                    <span class="error"
                                        *ngIf="signupForm.controls.first_name.touched && (signupForm.controls.first_name.errors?.required)">*Please
                                        enter your first name.</span>

                                </div>
                                <div class="form-group">
                                    <input formControlName="last_name"
                                        onfocus="this.ph=this.placeholder;this.placeholder=''"
                                        onblur="this.placeholder = this.ph" matInput type="text" placeholder="Last Name"
                                        class="form-control"
                                        [ngClass]="{'error-border': signupForm.controls.last_name.touched && (signupForm.controls.last_name.errors?.required)}">
                                    <span class="error"
                                        *ngIf="signupForm.controls.last_name.touched && (signupForm.controls.last_name.errors?.required)">*Please
                                        enter your last name.</span>
                                </div>
                                <div class="form-group">
                                    <input formControlName="email"
                                        onfocus="this.ph=this.placeholder;this.placeholder=''"
                                        onblur="this.placeholder = this.ph" matInput type="email" placeholder="Email"
                                        class="form-control"
                                        [ngClass]="{'error-border': signupForm.controls.email.touched && (signupForm.controls.email.errors?.required || signupForm.controls.email.errors?.email || signupForm.controls.email.errors?.pattern)}"
                                        (input)="checkEmail()">
                                    <span class="error"
                                        *ngIf="signupForm.controls.email.touched && signupForm.controls.email.errors?.required">*Please
                                        enter a valid email address.​</span>
                                    <span class="error"
                                        *ngIf="signupForm.controls.email.touched && (signupForm.controls.email.errors?.email || signupForm.controls.email.errors?.pattern)">*Please
                                        enter a valid email address.​</span>
                                    <span class="error" *ngIf="emailError">Email address exists. Please use sign in
                                        option.</span>
                                </div>
                                <div class="form-group">
                                    <input formControlName="company"
                                        onfocus="this.ph=this.placeholder;this.placeholder=''"
                                        onblur="this.placeholder = this.ph" matInput type="email" placeholder="Company"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <input formControlName="password"
                                        onfocus="this.ph=this.placeholder;this.placeholder=''"
                                        onblur="this.placeholder = this.ph" matInput type="password"
                                        placeholder="Password" class="form-control"
                                        [ngClass]="{'error-border': signupForm.controls.password.touched && (signupForm.controls.password.errors?.required || signupForm.controls.password.errors?.minlength) || (signupForm.controls.confirm_password.touched && (!signupForm.controls.confirm_password.errors?.minlength && !signupForm.controls.confirm_password.errors?.required && signupForm.controls.confirm_password.errors?.equalTo))}">
                                    <span class="error"
                                        *ngIf="signupForm.controls.password.touched && (signupForm.controls.password.errors?.required || signupForm.controls.password.errors?.minlength)">*Password
                                        must be at least 6 characters.</span>
                                </div>
                                <div class="form-group">
                                    <input formControlName="confirm_password"
                                        onfocus="this.ph=this.placeholder;this.placeholder=''"
                                        onblur="this.placeholder = this.ph" matInput type="password"
                                        placeholder="Confirm Password" class="form-control"
                                        [ngClass]="{'error-border': signupForm.controls.confirm_password.touched && (signupForm.controls.confirm_password.errors?.required || signupForm.controls.confirm_password.errors?.minlength || signupForm.controls.confirm_password.errors?.equalTo)}">
                                    <span class="error"
                                        *ngIf="signupForm.controls.confirm_password.touched && signupForm.controls.confirm_password.errors?.required">*Please
                                        enter confirm new password.​​</span>
                                    <span class="error"
                                        *ngIf="signupForm.controls.confirm_password.touched && signupForm.controls.confirm_password.errors?.minlength">*The
                                        confirm new password must be at least 6 characters.​​</span>
                                    <span class="error"
                                        *ngIf="signupForm.controls.confirm_password.touched && (!signupForm.controls.confirm_password.errors?.minlength && !signupForm.controls.confirm_password.errors?.required && signupForm.controls.confirm_password.errors?.equalTo)">
                                        *Passwords must match.​​
                                    </span>
                                </div>
                                <div class="form-group ">
                                    <div class="checkbox-block terms-text"
                                        [ngClass]="{'error-box' : isFormSubmit && signupForm.controls.isCheck.errors?.required}">
                                        <label class="checkbox-block terms-text">
                                            <p>By signing up, you agree to demo's <a
                                                    [routerLink]="['/terms-of-service']" title="Terms of Service">Terms
                                                    of Service</a> and <a [routerLink]="['/privacy-policy']"
                                                    title="Privacy Policy">Privacy
                                                    Policy</a></p>
                                            <input type="checkbox" formControlName="isCheck">
                                            <span class="checkmark"></span>
                                            <span class="error"
                                                *ngIf="isFormSubmit && signupForm.controls.isCheck.errors?.required">Please
                                                agree to sign up.</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="captcha-sec">
                                    <span>
                                        <re-captcha (resolved)="onRecaptchaResolved($event)"
                                            siteKey="6LetjpQUAAAAABlX23DG2aVFRqIWWPK-jx037Fxf"></re-captcha>
                                    </span>
                                    <span class="error"
                                        *ngIf="isFormSubmit && signupForm.controls.recaptcha.errors?.required">Please
                                        complete the CAPTCHA.</span>
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-primary" type="submit" title="Sign Up"
                                        (click)="doSignup()">Sign Up</button>
                                </div>
                            </form>
                            <div class="text-center terms-text">
                                <p>Already have an account? <a [routerLink]="['/login']" title="Sign in">Sign
                                        in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>