<app-header></app-header>
<div class="login-sec">
    <div class="container">
        <div class="col-sm-12">
            <div class="border-sec border-form form-sec">
                <h2 class="text-center">Reset My Password</h2>
                <div class="row">
                    <div class="col-6 mx-auto">
                        <form class="example-form" [formGroup]="resetForm" novalidate>
                            <div class="form-group" [ngClass]="{'error': resetForm.controls.password.errors != null && resetForm.controls.password.touched == true}">
                                <span class="icon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                <input [type]="passwordType1" onfocus="this.ph=this.placeholder;this.placeholder=''" onblur="this.placeholder = this.ph" formControlName="password" placeholder="New Password" class="form-control">
                                <span class="icon-view" (click)="hideShowPassword(true)">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': passwordType1 == 'password', 'fa-eye': passwordType1 == 'text'}"></i>
                                    </span>
                                <span class="error" *ngIf="resetForm.controls.password.touched && resetForm.controls.password.errors?.required">*Please enter new password.​​</span>
                                <span class="error" *ngIf="resetForm.controls.password.touched && resetForm.controls.password.errors?.minlength">*The new password must be at least 6 characters.​​</span>
                                <span class="error" *ngIf="resetForm.controls.password.touched && resetForm.controls.password.errors?.maxlength">*The new password  must be less than 30 characters.​​</span>
                            </div>
                            <div class="form-group" [ngClass]="{'error': resetForm.controls.confirm_password.errors != null && resetForm.controls.confirm_password.touched == true}">
                                <span class="icon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                <input [type]="passwordType2" onfocus="this.ph=this.placeholder;this.placeholder=''" onblur="this.placeholder = this.ph" formControlName="confirm_password" placeholder="Confirm New Password" class="form-control">
                                <span class="icon-view" (click)="hideShowPassword(false)">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': passwordType2 == 'password', 'fa-eye': passwordType2 == 'text'}"></i>
                                    </span>
                                <span class="error" *ngIf="resetForm.controls.confirm_password.touched && resetForm.controls.confirm_password.errors?.required">*Please enter confirm new password.​​</span>
                                <span class="error" *ngIf="resetForm.controls.confirm_password.touched && resetForm.controls.confirm_password.errors?.minlength">*The confirm new password must be at least 6 characters.​​</span>
                                <span class="error" *ngIf="resetForm.controls.confirm_password.touched && resetForm.controls.confirm_password.errors?.maxlength">*The confirm new password must be less than 30 characters.​​</span>
                                <span class="error" *ngIf="resetForm.controls.confirm_password.touched && (!resetForm.controls.confirm_password.errors?.required && !resetForm.controls.confirm_password.errors?.minlength && resetForm.controls.confirm_password.errors?.equalTo)">*The new password confirmation does not match.​​</span>
                                <span class="successfull" *ngIf="resetForm.valid"><i class="fa fa-check-circle" aria-hidden="true"></i> The password and confirmation password successfully matched.</span>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary" type="submit" title="Reset" tabindex="3" (click)="resetPassword()">Reset</button>
                            </div>
                            <div class="text-center">
                                <p class="error error-block" *ngIf="errorMsg">{{errorMsg}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>