<div class="login-sec">
    <div class="container">
        <div class="col-sm-12">
            <div class="border-sec form-sec">
                <h2>Reset Password</h2>
                <div class="password-content">
                    <span>
                        <i class="fa fa-check-circle-o"></i>
                    </span>
                    <p>Your password has been successfully changed.</p>
                    <p>Please login to the demo Web with your registered email address
                        <br> and with the new password.</p>
                </div>
                <span class="bottom-content">Please
                    <a href="#" title="Click" [routerLink]="['/login']" routerLinkActive="active">CLICK </a>to continue to the login page.</span>
            </div>
        </div>
    </div>
</div>