<div class="breadcrumbs-sec safari_only">
    <div class="container">
        <ul class="breadcrubs-list previous-page">
            <li (click)="goBack()">
                <a href="javascript:void(0)" title="Back">Back</a>
            </li>
        </ul>
    </div>
</div>
<section class="sec-news">
    <div class="container">
        <div class="news-list">
            <p>We’ve done our best to cut through the legal jargon and explain in simple terms what information we collect about
                you, what we use it for, and the few situations in which we share it with others.</p>
            <p>Please read this privacy policy carefully. It applies to all interactions you have with demo’ s products and
                services.</p>
            <p>
                <strong>THE INFORMATION WE COLLECT</strong>
            </p>
            <p>When you create an account with demo, you give us your full name and email address, and create a username and
                password. If you want, you can give us a pseudonym instead of your legal name.</p>
            <p>If you don’t feel like creating an account from scratch, you may be able to sign in through an account you already
                have with another service, such as Facebook.</p>
            <p>Your user profile helps you customize your account and connect with other demo users. Your profile automatically
                includes your name and username. You can also add a profile picture and whatever else you’d like in the “User”
                field.</p>
        </div>
    </div>
</section>