<div class="modal-header">
    <h4 class="modal-title" *ngIf="isLoad">{{totalLikes}} <span *ngIf="totalLikes == 1">like</span><span *ngIf="totalLikes > 1">likes</span></h4>
    <button *ngIf="isLoad" type="button" class="close" data-dismiss="modal" (click)="closeModal()">
        <span>
            <img src="./assets/images/cancel.png" alt="cancel img">
        </span>
    </button>
</div>
<div class="modal-body">
    <div class="like-list"
        infiniteScroll      
        (scrolled)="onScroll($event)"
        [scrollWindow]="false">
        <div class="like-block" *ngFor="let item of likesData">
            <!-- <div class="user-sec" *ngIf="!item?.image_url">
                <img src="./assets/images/default-user.png" alt="{{item?.full_name}}">
            </div> -->
            <div class="user-sec" *ngIf="!item?.image_url" [ngClass]="{'img-round-sec' : item?.image_url == null}"> 
                <span class="text-round">{{getNameInitials(item)}}</span>
            </div>
            <div class="user-sec" *ngIf="item?.image_url">
                <img [src]="item?.image_url" alt="{{item?.full_name}}">
            </div>
            <div class="user-name">
                <h4>
                    <a href="javascript:void(0)">{{item?.full_name}}</a>
                </h4>
            </div>
            <div class="posted-time">
                <span>{{item?.created_at | timeAgo}}</span>
            </div>
        </div>
    </div>
</div>