<app-header></app-header>
<div class="login-sec">
  <div class="container">
      <div class="col-sm-12">
          <div class="border-sec form-sec">
              <div class="password-content">
                <h2>Success! Your account has been created</h2>
                  <span class="icon-success-signup">
                      <i class="fa fa-check-circle-o"></i>
                  </span>
                  <p>You will now be redirected to the demo demo homepage...</p>
                  <span class="bottom-content"><a href="javascript:void(0)"  [routerLink]="['']" title="Click">CLICK </a> to be immediately redirected.</span>
              </div>
          </div>
      </div>
  </div>
</div>