.login-sec {
    height: calc(100vh - 67px - 45px);
    position: relative;
    .container, [class*=col-]{
        height: 100%;;
    }
    @media(max-width:767px){
        height: 100%;
        padding: 30px 0
    }
}
.border-sec.form-sec {
    padding: 40px 0 50px;
    // margin: 100px 0;
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    min-height: 440px;
    @media(max-width:1500px){
        padding: 30px 0 65px;
    }
    @media(max-width:1199px){
        width: 96.7%;
    }
    @media (max-width:991px){
        min-height: 400px;
    }
    @media(max-width:767px){
        width: 100%;
        position: relative;
        top: 0;
        transform: translateY(0%);
        min-height: 360px;
    }
    h2{
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 700;
        color: #000;
        text-align: center;
        padding: 0 15px;
        @media (max-width:767px){
            font-size: 20px;
        }
    }
    p{
        text-align: center;
        font-weight: 400;
        color: #000;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 20px;
        @media (max-width:767px){
            font-size: 16px;
        }
    }
}
.password-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 0 15px;
    @media (max-width:767px){
        width: 100%;
        padding: 0 15px;
        p{
            br{
                display: none;
            }
        }
    }
}
.password-content .icon-success-signup {
    display: block;
    text-align: center;
    font-size: 85px;
    color: #4e2a87;
    @media (max-width:767px){
        font-size: 60px;
    }
}
.bottom-content {
    // position: absolute;
    // left: 50%;
    // transform: translatex(-50%);
    display: block;
    font-size: 18px;
    color: #000;
    // bottom: 10px;
    text-align: center;
    @media (max-width:767px){
        width: 100%;
        padding: 0 15px;
        font-size: 16px;
    }
    a{
        font-weight: 700;
        color: #4e2a87;
        text-decoration: underline;
        &:hover{
            text-decoration: underline !important;
            color: #28065e;
        }
    }
}