<!-- menu start -->
<app-home-header></app-home-header>
<!-- menu end -->
<!-- banner section start -->
<section class="banner-bg">
    <div class="banner-width">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-left">
                        <span class="logo-image"><img src="./assets/images/demo-demo.png"></span>
                        <h6>Discover the next generation of News tracking</h6>
                    </div>
                    <div class="btn-wrapper">
                        <a href="javascript:void(0)" [routerLink]="['/signup']">register today<i
                                class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="comp-img">
                        <img src="./assets/images/two_devices_demo.png" alt="demo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->

<section class="leader-sec">
    <div class="container">
        <div class="header">
            <h3>Keep pace with news by staying ahead with comprehensive updates.</h3>
            <!-- <p>
                Stay ahead with comprehensive updates on News and drug activity. Monitoring this activity allows for a better understanding of how the physician community receives your messages and lets you identify concerns and education opportunities.
            </p> -->
        </div>
        <div class="leader-width">
            <div class="row">
                <div class="col-md-6">
                    <div class="demo-list">
                        <h6 class="title">WHY USE demo?</h6>
                        <ul>
                            <li>Never miss an opportunity to engage and identify new opportunities</li>
                            <li>Improve understanding of News activity</li>
                            <li>Intuitive user experience with robust features</li>
                            <li>Work individually or collaborate with your team</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="demo-list">
                        <h6 class="title">COVERAGE INCLUDES:</h6>
                        <ul>
                            <li><strong class="font-purple">News</strong> Publications, trial updates, traditional media mentions</li>
                            <li><strong class="font-purple">Events</strong> Upcoming conferences, symposiums, lecture</li>
                            <li><strong class="font-purple">Social Media</strong> Tweets and mentions</li>
                            <li><strong class="font-purple">Clinical Trials</strong> Updates associated with your news</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <a href="https://www.demo.com/demo-demo">Learn More<i class="fa fa-arrow-circle-right"
                            aria-hidden="true"></i></a>
                </div>
                <div class="bottom-text">
                    <span>or contact us at <a href="mailto:info@demo.com">info@demo.com</a></span>
                </div>
            </div>
        </div>

    </div>
</section>

<app-home-footer></app-home-footer>