.login-sec {
    height: calc(100vh - 67px - 45px);
    position: relative;
    .container, [class*=col-]{
        height: 100%;;
    }
    @media(max-width:767px){
        height: 100%;
        padding: 30px 0
    }
}
.border-sec.form-sec {
    padding: 40px 0 50px;
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    min-height: auto;
    @media(max-width:1500px){
        padding: 30px 0 65px;
    }
    @media(max-width:1199px){
        width: 96.7%;
    }
    @media (max-width:991px){
        min-height: auto;
    }
    @media(max-width:767px){
        width: 100%;
        position: relative;
        top: 0;
        transform: translateY(0%);
        min-height: 360px;
    }
    h2{
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 700;
        color: #000;
        text-align: center;
        padding: 0 15px;
        text-transform: capitalize;
        @media (max-width:767px){
            font-size: 20px;
        }
    }
    p{
        text-align: center;
        font-weight: 400;
        color: #000;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 20px;
        @media (max-width:767px){
            font-size: 16px;
        }
    }
    .col-6{
        @media (max-width:767px){
            width: 100%;
            max-width: 100% !important;
            margin: 0 !important;
            flex: 100%;
            padding: 0 30px;
        }
    }
}
.form-control{
    border: none;
    font-size: 18px;
    color: #000;
    border-radius: 0;
    height: auto;
    font-family: 'San Francisco Text', sans-serif !important;
    padding-left: 38px !important;
}
.form-group{
    position: relative;
    margin-bottom: 20px;
    .icon{
        position: absolute;
        margin-bottom: 0px;       
       left: 10px;
        bottom: 6px;
        color: #4e2a87;
        font-size: 20px;
    }
    .icon-view {
        position: absolute;
        width: 20px;
        margin-bottom: 0px;
        margin-left: 10px;
        bottom: 6px;
        right: 9px;
        color: #6e7070;
        font-size: 20px;
    }
}
.btn-primary{
    padding: 10px 80px;
    border-radius: 5px;
    background: #4e2a87;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    display: inline-block;
    margin-top: 40px;
    @media(max-width:1199px){
        padding: 8px 50px;
        font-size: 16px;
    }
    @media (max-width:576px){
        margin: 20px auto 0;
        display: block;
        &.pull-left{
            float: none !important;
        }
        &.pull-right{
            float: none !important;
        }
    }
}
a{
    color: #4e2a87;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    &:hover{
       color: #28065e;
    }
}
.example-full-width{
    .error{
        position: absolute;
        bottom: -19px;
    }
}
.error-block{
    padding: 10px;
    position: absolute;
    bottom: -75px;
    font-size: 13px;
    left: 50%;
    transform: translatex(-50%);
    width: 80%;
}
