<div class="login-sec">
    <div class="container">
        <div class="col-sm-12">
            <div class="border-sec border-form form-sec">
                <h2>Forgot password?</h2>
                <p>Enter your email address to request a
                    <br>​password reset.​</p>
                <div class="row">
                    <div class="col-6 mx-auto">
                        <form class="example-form" [formGroup]="resetForm" novalidate>
                            <div class="form-group" [ngClass]="{'error': resetForm.valid == false && resetForm.controls.email.touched == true}">
                                <span class="icon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                <input autofocus onfocus="this.ph=this.placeholder;this.placeholder=''" onblur="this.placeholder = this.ph" type="input" formControlName="email" placeholder="Email Address" class="form-control">
                                <span class="error" *ngIf="resetForm.controls.email.touched && resetForm.controls.email.errors?.required">*Please enter your email address.​​</span>
                                <span class="error" *ngIf="resetForm.controls.email.touched && resetForm.controls.email.errors?.email">*Please enter a valid email address.​​</span>
                            </div>
                            <div class="form-group text-center clearfix">
                                <button class="btn btn-primary pull-left" type="reset" title="Cancel" tabindex="2" [routerLink]="['/login']" routerLinkActive="active">Cancel</button>
                                <button class="btn btn-primary pull-right" type="submit" title="Request" tabindex="3" (click)="forgotPassword()">Request</button>
                                <p class="error error-block" *ngIf="errorMsg">{{errorMsg}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>