.login-sec {
    height: calc(100vh - 67px - 45px);
    position: relative;
    .col-sm-12{
        padding: 0;
    }
    .container, [class*=col-], .row{
        height: 100%;;
    }
    @media(max-width:767px){
        height: 100%;
        padding: 20px 0
    }
    @media(max-height:767px){
        height: 100%;
        padding: 20px 0
    }
}
.border-sec.form-sec {
    padding: 50px 0 80px;
    // margin: 100px 0;
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    @media(max-width:1500px){
        padding: 30px 0 65px;
    }
    @media(max-width:1199px){
        width: 96.7%;
    }
    @media(max-width:767px){
        width: 100%;
        position: relative;
        top: 0;
        transform: translateY(0%);
    }
    @media(max-height:767px){
        width: 100%;
        position: relative;
        top: 0;
        transform: translateY(0%);
    }
    h2{
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 700;
        color: #000;
        
        @media (max-width:767px){
            font-size: 20px;
        }
    }
    .col-6{
        @media (max-width:767px){
            width: 100%;
            max-width: 100% !important;
            margin: 0 !important;
            flex: 100%;
            padding: 0 30px;
        }
    }
}
.form-control{
    border: none;
    font-size: 18px;
    color: #000;
    border-radius: 0;
    height: auto;
    font-family: 'San Francisco Text', sans-serif !important;
    //padding-left: 25px;
}
.form-group{
    position: relative;
    // margin-bottom: 10px;
}
.btn-primary{
    padding: 10px 80px;
    border-radius: 5px;
    background: #4e2a87;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    display: inline-block;
    margin-top: 20px;
    @media(max-width:1199px){
        padding: 10px 60px;
    }
    @media(max-width:991px){
        padding: 10px 40px;
        font-size: 17px;
    }
    @media (max-width:767px){
        padding: 8px 50px;
        font-size: 15px;
    }
    @media(max-width:576px){
        padding: 8px 30px;
    }
}
a{
    color: #4e2a87;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    &:hover{
       color: #28065e;
    }
}
.example-full-width{
    .error{
        position: absolute;
        bottom: -19px;
    }
}
.error-block{
    padding: 10px;
    position: absolute;
    //box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.65);
    /* margin-top: 6px; */
    bottom: -50px;
    font-size: 13px;
    left: 50%;
    transform: translatex(-50%);
    width: 80%;
}
