//.dashboard-sec{padding-bottom: 102px;}

.sec-news {
  margin-top: 20px;
  padding: 0px 0 60px;
  background: #F9FAFF ;
  @media (max-width: 767px) {
    padding: 0px 0 30px;
  }
  // @media(min-width: 767px) and (max-width: 991px)   {
  //     margin-top: 60px !important;
  // }
  > .container{
    @media(max-width: 767px){
      max-width: 100%;
    }
  }
}

.news-list {
  background: transparent;
  padding: 0;
  min-height: auto;
  .col-md-6{
    margin-bottom: 20px;
    padding: 0 10px;
    @media(max-width: 767px){
      margin-bottom: 5px;
      padding: 0;
    }
  }
  .news-block {
    //border-bottom: 2px solid #d7d7d7;
    padding: 15px 15px 5px;
    background: #fff;
    position: relative;
    // overflow: hidden;
    // border-left: 9px solid #4e2a87;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    height: 100%;
    transition: 0.3s all ease;
    cursor: pointer;
    &:hover{
      box-shadow: 0px 2px 15px #0000001A;
    }
    @media (max-width: 767px) {
      border-left: none;
      border-radius: 0;
    }
    .img-sec {
      width: 80px;
      height: 80px;
      margin: 0 auto 15px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      border-radius: 50%;
      @media (max-width: 991px) {
        width: 70px;
        height: 70px;
      }
      @media (max-width: 767px) {
        margin-bottom: 12px;
        width: 50px;
        height: 50px;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 3px 10px rgba(0,0,0,.16);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .text-round{
          background-color: transparent;
        }
      }
    }
    .content{
      display: inline-block;
      width: calc(100% - 80px);
      padding-left: 15px;
      vertical-align: middle;
    }
    .info-sec {
      // padding-top: 10px;
      
      h3 {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        color: #000;
        margin-bottom: 5px;
        .img-sec {
            width: 88px;
            height: 88px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
            float: right;
            // border: 2px solid #4e2a87;
            @media(max-width: 991px) {
                width: 70px;
                height: 70px;
            }
            @media(max-width:767px) {
                margin-bottom: 0px;
                float: none;
                width: 50px;
                height: 50px;
                margin-left: 12px;
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        @media (max-width: 767px) {
          font-size: 15px;
          margin-bottom: 5px;
        }
        a {
          color: #000;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    p {
      font-size: 14px;
      color: #6e7070;
      font-weight: 400;
      margin-bottom: 5px;
      padding-right: 20px;
      .clg-name{
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        color: #000;
        @media(max-width:767px){
          font-size: 14px;
          display: block;
        }
      }
      .clg-location{
        display: inline-block;
        padding-left: 5px;
        @media(max-width:767px){
          display: block;
          padding-left: 0;
        }
      }
    }
    .badge-sec {
      // padding-top: 10px;
      text-align: center;
      // @media (max-width: 767px) {
      //   // position: absolute;
      //   // top: -177px;
      //   // width: 100%;
      //   // padding-top: 0;
      //   position: absolute;
      //   right: 32px;
      // }
      // @media (max-width: 576px) {
      //   position: relative;
      //   right: 25px;
      // }
      //   @media(max-width:375px){
      //     top: -185px;
      //   }
      span {
        display: block;
        text-align: center;
        &.badge {
          display: inline-block;
          padding: 5px 10px;
          color: #4E2A87;
          background: #EEE5FD;
          font-size: 14px;
          min-width: 40px;
          font-weight: 500;
          border-radius: 15px;
          margin: 0 auto 5px;
          line-height: 1.1;
          cursor: pointer;
          -moz-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          -webkit-transition: all 0.3s ease-out 0s;
          position: absolute;
          top: 10px;
          right: 10px;
          @media (max-width: 767px) {
            min-width: 40px;
            font-size: 12px;
            padding: 5px;
          }
          // @media(max-width:576px){
          //   right: 40px;
          //   }
          // &:hover{
          //     background: #ff3838;
          // }
        }
        &.favourite-icon {
          color: #6e7070;
          font-size: 30px;
          cursor: pointer;
          -moz-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          -webkit-transition: all 0.3s ease-out 0s;
          @media (max-width: 991px) {
            font-size: 28px;
          }
          @media (max-width: 767px) {
            // position: absolute;
            // left: 30px;
            // top: -10px;
            font-size: 20px;
          }
          &.selected {
            color: #f3ba40;
          }
        }
      }
    }
  }
  &.no-news {
    background: #fff;
    padding: 20px;
    min-height: 350px;
    text-align: center;
    position: relative;
    .no-news-sec {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h3 {
        font-size: 28px;
        font-weight: 700;
        color: #6e7070;
        margin-bottom: 0;
        @media (max-width: 767px) {
          font-size: 24px;
        }
      }
    }
  }
}

.dashboard-fav {
  display: inline-block;
  position: absolute;
  bottom: -8px;
  right: -8px;
}

.no-favourite-news {
  text-align: center;
  h4 {
    font-weight: 600;
    margin-top: 20px;
  }
  span {
    // display: block;
    // text-align: center;
    &.favourite-icon {
      // color: #f3ba40;
      font-size: 22px;
    }
  }
}

/*---subscription block css start here---*/

.subscription-block {
  margin: 0px;
  text-align: center;
//   @media(max-width: 991px){
//     margin-top: 65px;
//   }
//   @media(max-width: 575px){
//     text-align: left;
//   }
  &.drug-sub-sec {
    @media(max-width: 991px){
      margin-top: 0px !important;
    }
  }
  .subscription-bg {
    background: #FFF3F3;
    padding: 15px 0;
    color: #333333;
    strong{
      color: #DA4444;
      font-weight: 500;
    }
    a {
      font-weight: 600;
      color: #333333;
    }
  }
}

/*---subscription block css end here---*/

/*--- no news css start--*/

.no-news-content h4 {
  max-width: 80%;
  margin: 20px auto 0;
  @media (max-width: 767px) {
    margin: 10px 0;
    max-width: 100%;
    font-size: 16px;
  }
}

.no-selected-News {
  margin-top: 0px !important;
}

/*--- no news css end--*/

/*--grouping list sec css start--*/

.grouping-list {
  text-align: center;
  margin-bottom: 30px;
  @media (max-width: 1400px) {
    margin-bottom: 10px;
  }
  .slider-tab,
  ul {
    list-style-type: none;
    .tab,
    li {
      display: inline-block;
      margin: 0 0px 10px 0px;
      @media (max-width: 991px) {
        // margin-left: 10px;
      }
      &:first-child {
        a {
          margin-left: 0;
        }
      }
      &.active {
        a {
          background: #d9d9d9;
          color: #6f6f6f;
        }
      }
      a {
        background: #fff;
        border: 1px solid #a6a6a6;
        color: #a6a6a6;
        font-size: 16px;
        // text-transform: capitalize;
        display: block;
        padding: 6px 25px;
        border-radius: 6px;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0 5px;
        @media (max-width: 991px) {
          // margin-left: 10px;
        }
        @media (max-width: 575px) {
          font-size: 14px;
          margin: 0 3px;
        }
        &:hover {
          background: #d9d9d9;
          color: #6f6f6f;
        }
      }
    }
  }
  .slider-tab {
    max-width: 95%;
    margin: 0 auto;
    @media (max-width: 767px) {
      max-width: 90%;
    }
  }
}

/*--grouping list sec css start--*/

span.group-icon {
  position: absolute;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #6e7070;
  line-height: 1;
  bottom: 10px;
  // @media (max-width: 1199px) {
  //   right: 25px;
  // }
  // @media (max-width: 991px) {
  //   font-size: 24px;
  //   right: 12px;
  // }
  // @media (max-width: 767px) {
  //   font-size: 20px;
  //   right: -6px;
  // }
  // @media (max-width: 575px) {
  //   right: 17px;
  // }
  // @media (max-width: 450px) {
  //   right: 3px;
  // }
}

.group-list-block {
  right: 0px;
  box-shadow: 0 4px 8px 3px rgba(60, 64, 67, 0.15);
  transition: box-shadow 83ms;
  position: absolute;
  z-index: 9;
  background: #fff;
  padding: 0;
  width: 320px;
  margin-top: 5px;
  top: 96%;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 12px;
  display: none;
  @media(max-width:991px){
    width: 280px;
  }
  // @media (max-width: 575px) {
  //   width: 250px;
  // }
  &::before{
    position: absolute;
    top: -8px;
    content: '';
    right: 16px;
    border-bottom: 8px solid #4e2a87;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  &.show {
    display: block;
  }
  .team-name-selected {
    border-bottom: 1px solid #4E2A87;
    padding:12px 15px 12px;
    margin-bottom: 10px;
    background-color: #4E2A87;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
    ul{
      li{
        display: inline-block;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 600;
        > span{
          padding-right: 4px;
        }
        &:last-child{
          span{
            display: none;
          }
        }
      }
    }
  }
  .team-name-list {
    padding-right: 8px;
  }
  .add-group-textbox {
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    .form-group {
      width: calc(100% - 60px);
      display: inline-block;
      padding-right: 10px;
      margin-bottom: 0;
      // @media (max-width: 575px) {
      //   width: calc(100% - 32px);
      // }
      .form-control{
        height: 35px;
      }
    }
    .add-btn {
      border: none;
      font-size: 15px;
      vertical-align: top;
      color: #fff;
      width: 60px;
      cursor: pointer;
      background: #4E2A87 0% 0% no-repeat padding-box;
      border-radius: 4px;
      padding: 7px 15px;
    }
  }
  ul {
    list-style-type: none;
    li {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.filter-list {
      max-height: 130px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 7px 5px 15px;
      li {
        display: block;
        text-align: left;
        position: relative;
        .checkbox-block {
          display: inline-block;
          position: relative;
          margin-bottom: 20px;
          cursor: pointer;
          font-size: 18px;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          .checkmark {
            position: absolute;
            top: 5px;
            left: 0;
            height: 21px;
            width: 21px;
            background-color: transparent;
            border: 1px solid #212529;
            margin-left: 0;
            display: inline-block;
            vertical-align: middle;
            border-radius: 3px;
          }
        }
        .grouping-text {
          font-size: 15px;
          margin-left: 30px;
          display: inline-block;
          vertical-align: middle;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: calc(100% - 30px);
        }
      }
    }
  }
}

.checkbox-block input:checked ~ .checkmark {
  background-color: #4e2a87 !important;
  border-color: #4e2a87 !important;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-block input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-block .checkmark:after {
  left: 6px;
  top: 2px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


.no-group {
  text-align: center !important;
  span {
    margin-left: 0 !important;
  }
}

.groupPopup:disabled {
  background: #816e9f 0% 0% no-repeat padding-box !important;
}

.col-2.badge-area {
  @media (max-width: 575px) {
    padding: 0 5px 0 0;
  }
}
