<app-sub-header (changeTab)="changeEntityTab($event)" (changeNewsList)=getSpecificNewsList($event) [teamsGroupsList]="teamsGroups" [showBiomarkerTab]="showBiomarker"></app-sub-header>
<div class="dashboard-sec">
    <div class="subscription-block" *ngIf="selectedTab == 'News'">
        <div class="subscription-bg" *ngIf="isLAPP && isExpired">
            <div class="container">
            <!-- <div class="subscription-bg" *ngIf="isLAPP && isExpired"> -->
                <p *ngIf="remainingDays > 1">Your subscription expires in {{remainingDays}} days.</p>
                <p *ngIf="remainingDays == 1">Your subscription expires in {{remainingDays}} day.</p>
                <p *ngIf="remainingDays == 0">Your subscription expires by today.</p>
                <p *ngIf="remainingDays == null">Your subscription has expired.</p>
                <p>To renew your subscription, contact <a href="mailto:demo@demo.com">demo@demo.com</a></p>
            </div>
        </div>
        <div class="subscription-bg" *ngIf="!isLAPP && expiredMsg">
            <div class="container">
                <p><strong>{{expiredMsg}} </strong> To renew your subscription, contact <a href="mailto:demo@demo.com">demo@demo.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="subscription-block drug-sub-sec" *ngIf="selectedTab == 'drug'">
        <div class="subscription-bg" *ngIf="isLAPP && isDrugExpired">
            <div class="container">
            <!-- <div class="subscription-bg" *ngIf="isLAPP && isDrugExpired"> -->
                <p *ngIf="drugRemainingDays > 1">Your subscription expires in {{drugRemainingDays}} days.</p>
                <p *ngIf="drugRemainingDays == 1">Your subscription expires in {{drugRemainingDays}} day.</p>
                <p *ngIf="drugRemainingDays == 0">Your subscription expires by today.</p>
                <p *ngIf="drugRemainingDays == null">Your subscription has expired.</p>
            </div>
                <p>To renew your subscription, contact <a href="mailto:demo@demo.com">demo@demo.com</a></p>
        </div>
        <div class="subscription-bg" *ngIf="!isLAPP && drugExpiredMsg">
            <div class="container">
                <p><strong>{{drugExpiredMsg}} </strong> To renew your subscription, contact <a href="mailto:demo@demo.com">demo@demo.com</a> </p>
            </div>
        </div>
    </div>

    <!-- News primium list section start -->
    <div *ngIf="selectedTab == 'News'">
        <section class="sec-news" *ngIf="newsData?.length > 0 && isLoad && !isSpecificClick && !isAnalyticShow" infiniteScroll (scrolled)="onScroll($event)">
            <div class="container">
                <div class="news-list">
                    <div class="row">
                        <div class="col-md-6"  *ngFor="let item of newsData; let index = index; ">
                            <div class="news-block">
                                <div class="content-area">
                                    <div class="img-sec round" [class.img-loading]="!item?.imageLoad" [ngClass]="{'img-round-sec' : item?.News_image_url == ''}">
                                        <a href="javascript:void(0)" (click)="opennewsDetail(item)">
                                            <img [src]="item?.News_image_url" (error)="checkImageExistorNot(item)" *ngIf="item?.News_image_url" (load)="imageLoadSuccess(item)">
                                            <span class="text-round" *ngIf="!item?.News_image_url">{{item?.News_short_name}}</span>
                                        </a>
                                        <app-news-star-view (changeData)="changeDataByUser($event)" [index]="index" [newsData]="item" class="dashboard-fav"></app-news-star-view>
                                    </div>
                                    <div class="content" (click)="opennewsDetail(item)">
                                        <div class="info-sec">
                                            <h3><a href="javascript:void(0)">{{item?.News_full_name}}</a></h3>
                                            <p>{{item?.News_qualification}}</p>
                                        </div>
                                    </div>
                                    <p *ngFor="let list of item?.institutionsData; let ind = index;" (click)="opennewsDetail(item)">
                                        <span *ngIf="ind < 2">
                                            <span class="clg-name">{{list?.name}} </span>
                                            <span class="clg-location"> {{list?.location}}</span>
                                            <span *ngIf="ind == 1 && item?.institutionsData.length > 2">...</span>
                                        </span>
                                    </p>
                                    <div class="badge-area">
                                        <div class="badge-sec">
                                            <span class="badge red-bg" *ngIf="item?.News_notification_count > 0" (click)="opennewsDetail(item)">
                                                <span *ngIf="item?.News_notification_count >= 1000">999+</span>
                                            <span *ngIf="item?.News_notification_count < 1000">{{item?.News_notification_count}}</span>
                                            </span>
                                            <div class="grouping-fav">
                                                <span class="group-icon groupPopup" (click)="openGroup(item.News_id,item)">
                                                    <i class="fa fa-ellipsis-v groupPopup"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--group list start-->
                                <div class="group-list-block groupPopup" *ngIf="showGroupPopup" [ngClass]="{'show': isGroupShowId == item.News_id}">
                                    <div class="team-name-selected" *ngIf="NewsTeams.length > 0">
                                        <ul>
                                            <li *ngFor="let item of NewsTeams">{{item.name}}<span>, </span> </li>
                                        </ul>
                                    </div>
                                    <div class="team-name-selected" *ngIf="NewsTeams.length <= 0">
                                        <ul>
                                            <li>No teams found.</li>
                                        </ul>
                                    </div>
                                    <div class="team-name-list" *ngIf="NewsGroups.length > 0">
                                        <ul class="filter-list">
                                            <li *ngFor="let item of NewsGroups">
                                                <label class="checkbox-block groupPopup">
                                                    <input class="grouping groupPopup" type="checkbox" name={{item?.id}} [checked]="item.selected" (click)="addRemoveNewsFromGroup(item, $event);gaGroupTrack(item,$event)">
                                                    <span class="checkmark groupPopup"></span>
                                                </label>
                                                <span class="grouping-text groupPopup">{{item.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="team-name-list" *ngIf="NewsGroups.length <= 0">
                                        <ul class="filter-list">
                                            <li class="no-group">
                                                <span class="grouping-text groupPopup">No groups found.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-group-textbox groupPopup">
                                        <form [formGroup]="groupForm" class="groupPopup" novalidate>
                                            <div class="form-group groupPopup">
                                                <input type="text" class="form-control groupPopup" formControlName="groupName" placeholder="Add group" onfocus="this.ph=this.placeholder;this.placeholder=''" onblur="this.placeholder = this.ph" (keyup)="resetMsgonKey()">
                                            </div>
                                            <button class="add-btn groupPopup" type="submit" [disabled]="checkValidValue()" (click)="addGroup();gaGroupTrack(groupForm.value,$event)"><img class="groupPopup" src="../../../assets/images/user-plus.png"></button>
                                            <span class="error" *ngIf="existsMsg"><strong>{{existsMsg}}</strong></span>
                                        </form>
                                    </div>
                                </div>
                                <!--group list end-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bouncing-loader" *ngIf="isLoadMore">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </section>
        <section class="sec-news News-center" *ngIf="newsData?.length == 0 && isLoad && !isSpecificClick && !isAnalyticShow">
            <div class="container">
                <div class="no-favourite-news" *ngIf="!isLAPP">
                    <div class="news-list no-news no-news-content">
                        <h4>Your subscription includes access to premium content for up to {{loggedUserData?.max_news}} news. Contact <a href="mailto:demo@demo.com">demo@demo.com</a> if you have any questions.</h4>
                    </div>
                </div>
                <div class="no-favourite-news" *ngIf="isLAPP && selectedTab != 'biomarker'">
                    <div class="news-list no-news no-news-content">
                        <h4 *ngIf="loggedUserData?.subscription && !loggedUserData?.created_by">You can access premium content for up to 3 news. Use the search bar to find your news and click
                            <span class="favourite-icon selected"><i class="fa fa-star-o"></i></span> to access premium content. Contact <a href="mailto:demo@demo.com">demo@demo.com</a> to upgrade your subscription.
                        </h4>
                        <h4 *ngIf="!loggedUserData?.subscription && !loggedUserData?.created_by">You can access premium content for up to 3 news. Use the search bar to find your news and click
                            <span class="favourite-icon selected"><i class="fa fa-star-o"></i></span> to access premium content. Contact <a href="mailto:demo@demo.com">demo@demo.com</a> to upgrade your subscription.
                        </h4>
                        <h4 *ngIf="loggedUserData?.subscription && loggedUserData?.created_by">You can access premium content for up to {{loggedUserData?.subscription}} news. Use the search bar to find your news and click
                            <span class="favourite-icon selected"><i class="fa fa-star-o"></i></span> to access premium content. Contact <a href="mailto:demo@demo.com">demo@demo.com</a> to upgrade your subscription.
                        </h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-news News-center" *ngIf="newsData?.length == 0 && isSpecificClick && isLoad && !isAnalyticShow">
            <div class="container">
                <div class="no-favourite-news">
                    <div class="news-list no-news no-news-content" *ngIf="postObj.type == 'group'">
                        <p>No news were added to this Group.</p>
                    </div>
                    <div class="news-list no-news no-news-content" *ngIf="postObj.type == 'team'">
                        <p>No news were added to this Team.</p>
                    </div>
                </div>
            </div>
        </section>
        <section *ngIf="isAnalyticShow">
            <div class="container">
                <app-News-analytics [clickedTab]="clickedTab"></app-News-analytics>
            </div>
        </section>
    </div>
    <!-- News primium list section end -->

    <!-- Content list section start -->
    <app-content-landing-lage *ngIf="selectedTab == 'content'"></app-content-landing-lage>
    <!-- Content list section end -->

    <!-- Drug primium list section start -->
    <app-drug-landing-page *ngIf="selectedTab == 'drug'"></app-drug-landing-page>
    <!-- Drug primium list section end -->

    <!-- Primium conference list section start-->
    <app-conference-landing-page *ngIf="selectedTab == 'conference'"></app-conference-landing-page>
    <!-- Primium conference list section end-->

    <!-- biomarker news  section start-->
    <app-biomarker-entity-page *ngIf="selectedTab == 'biomarker'"></app-biomarker-entity-page>
    <!-- biomarker news  section end-->

</div>
